
.test ul li {
    list-style-type: none;
    display: inline;   
}
.test{
    background-color: #f9e3c9;
    height: 73px;

}
.test img{
    width: 12%;
    padding-left: 10px;
    position: relative;
    top:20px;
}
.test a{
    color:black;
    padding-left: 36px;
    list-style-type: none;
    text-decoration:double;
    position: relative;
    left:12%;
    bottom:25px
}
.test button {
    position: relative;
    padding: 10px 6px;
    top: -67px;
    left: 49%;
    border: none;
    border-radius: 9px;
    background-color: #df7009;
    color: white;
    cursor: pointer;    
}
.cont #first{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 60px;
    
} 

.cont img{
    margin-top: 48px;
}
    
.cont {
        display: flex;
        align-items: flex-start; /* Aligne les éléments au début */
        gap: 70px; /* Espace entre les éléments */
}

.text {
        display: flex;
        flex-direction: column; /* Aligne les paragraphes verticalement */
        margin-top: 62px;
        margin-left: 90px;
}
.text #second{
    margin-bottom: 50px;
}
.cont img {
    width: 35%;
    margin-top: 30px; 
}
.text button{
border: none;
width: 120px;
padding: 9px 15px;
border-radius: 9px;
background-color: #df7009;
color: white;
cursor: pointer; 
}
#exeption{
    font-weight: bold;
    font-size: 30px;
    margin-top: 32px;
    margin-left: 90px;
}
.cadr{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 90px;
}
footer{
    background-color: #f8c08c;
    padding: 30px 90px;
    margin-top: 40px;
}